.title_container {
  display: flex;
}
.title_container > h1{
  align-self: center;
  padding-left: 28%;
  font-size: 2.5rem;
}
.visual_container{
  display: inline;
}
.filter_container{
  background-color: aqua;
}
.chart_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "LineChart";
}
.BarChart {
  grid-area: BarChart;
}
.LineChart {
  grid-area: LineChart;
}
.ScatterPlot {
  grid-area: ScatterPlot;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Full viewport height */
}
.button-container button {
  margin: 0 10px; /* Optional, for spacing between buttons */
}

button {
  font-size: 20px;
}
