/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #f6f6f6;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.title_container {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  gap: 4rem;
}

.logo {
  height: 100%;
}

.logo img {
  height: 100%;
}

.title {
  font-size: 0.75em;
}

.visual_container {
  height: calc(100vh - 4rem);
}

.first_row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 50%;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.filter_container {
  display: flex;
  flex-direction: column-reverse;
  width: 20%;
  height: 100%;
  background-color: white;
  border-radius: 1em;
  padding: 1rem;
  padding-bottom: 2rem;
}

.rangeFilter {
  width: 90%;
  height: 10px;
  position: relative;
  background-color: #dddddd;
  border-radius: 20px;
}

.range_track {
  height: 100%;
  position: absolute;
  border-radius: 20px;
  background-color: #245dc6;
}

.rangeFilter input {
  position: absolute;
  width: 100%;
  height: 5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  top: 50%;
  transform: translateY(-50%);
}
.rangeFilter input::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #245dc6;
  pointer-events: auto;
  -webkit-appearance: none;
  cursor: pointer;
  margin-bottom: 1px;
}
.rangeFilter input::-moz-range-thumb {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #245dc6;
  pointer-events: auto;
  -moz-appearance: none;
  cursor: pointer;
  margin-top: 30%;
}

.minvalue {
  position: absolute;
  padding: 6px 12px;
  background: #245dc6;
  border-radius: 1rem;
  color: white;
  bottom: 18px;
  left: 0;
  font-size: 0.75rem;
}
.maxvalue {
  position: absolute;
  padding: 6px 12px;
  background: #245dc6;
  border-radius: 1rem;
  color: white;
  top: -38px;
  right: 0;
  font-size: 0.75rem;
}

.chart_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

.LineChart {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
}

.JitterPlot {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  background-color: white;
}

.second_row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  padding: 0.5rem 1rem;
}

.ParallelCoordinates {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: relative;
}

